body{
    background-color: rgb(253, 225, 230);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
        font-weight: 400;
        text-align: center;
        margin-top: 200px;

    }
    .inicio{
    color:  #5D1B23;
    margin: 10px;
}

.marca{
        font-size: 20px;
        font-weight: 200;
        text-align: center;
        margin-top: 100px;
}

.inicio_c{
    color: #5D1B23;
    margin-right: 40px;
   
}

